

form{
  font-size: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;
  font-family: georgia;
  padding: 50px;
}
input{
  margin: 20px;
  padding: 10px;
  width: 300px;

}
textarea{
  margin: 10px;
  padding: 10px;
  width: 320px;
  height: 100px;

}
.formSubmit{
font-size: 15px;
font-weight: bold;
background-color: darkgray;
margin-top: 10px;
padding: 10px;
font-family: georgia, arial;
cursor: pointer;
}
.formSubmit:hover{
  background-color: orange;
  font-size: 30px;
}
